.player-name {
  width: 14em;
}

.player-score > button {
  width: 3em;
}

.status-btn {
  width: 6.5em;
}

.Player__numberLabel {
  width: 1.75rem;
  padding-right: 0.5rem;
  text-align: right;
}

.Player--dead {
  /* background-color: gray; */
  /* filter: blur(0.2px); */
  opacity: 0.6;
}

.App {
  flex-direction: column;
  display: flex;
  align-items: center;
}
